@import './colors.scss';
@import './fonts.scss';
@import './lineHeight.scss';
@import './margin.scss';
@import './padding.scss';
@import './typography.scss';
@import './buttons.scss';

$primary-color: #121010;
$secondary-color: #D1C8C5;

$text-color: #8E837F;
$link-color: #0074D9;

$border-size: 1px;
$spacer : 40;
$border-radius: 4px;

$text-size: 14px;